
##### NextAuth #####

# expects: url | Next-Auth authorization url.
NEXTAUTH_URL=https://worki.thijmenheuvelink.nl

# expects: string | Next-Auth secret encryption token.
NEXTAUTH_SECRET= <Encryption Secret>

# expects: string | Next-Auth Client ID of Google (Provider).
NEXTAUTH_PROVIDER_GOOGLE_CLIENTID=582659760628-7ngfqv5kqddg80em8opevm6n8vn7ke57.apps.googleusercontent.com

# expects: string | Next-Auth Secret of Google (Provider).
NEXTAUTH_PROVIDER_GOOGLE_SECRET= <Google Oauth Secret>

##### Prisma #####

# expects: url | MongoDB Auth URL
PRISMA_MONGODB_AUTH_URL=mongodb://worki: <MongoDB Pass> @192.168.178.100:12107/ < develop | prod >
